---
services:
  jupyter:
    image: autofunbot/sos_jupyter
    ports:
      - "8888:8888"
    environment:
      JUPYTER_ENABLE_LAB=yes
      JUPYTER_TOKEN=lab123
      GRANT_SUDO=yes
    container_name: jupyter
    expose:
      - "8888"
    extra_hosts:
    {%- for host in hosts %}
      {{host['name']}}: "{{host['ip']}}"
    {%- endfor %}
    restart: always
    user: root
    volumes:
      - type: bind
        source: /home/lab/ajmae:/home/jovyan/work