services:
  web_server:
    image: autofunbot/tg_web_server
    networks:
      services_net:
        ipv4_address: {{web_server.ip}}
  mysql_server:
    image: mysql
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=lab123
      - MYSQL_USER=lab
      - MYSQL_DATABASE=lab_db
      - MYSQL_PASSWORD=lab123
    networks:
      services_net:
        ipv4_address: {{sql_server.ip}}
  ftp_server:
    image: 'delfer/alpine-ftp-server'
    environment:
      - USERS=lab|Juniper123
    networks:
      services_net:
        ipv4_address: {{ftp_server.ip}}
  web_client:
    image: autofunbot/tg_web_client
    environment:
      - TARGETS={{web_client.targets}}
  mysql_client:
    image: autofunbot/tg_sql_client
    environment:
      - TARGETS={{sql_client.targets}}
  ftp_client:
    image: autofunbot/tg_ftp_client
    environment:
      - TARGETS={{ftp_client.targets}}
networks:
  services_net:
    name: services_net
    driver: ipvlan
    driver_opts:
      parent: {{interface}}
    ipam:
      config:
        - subnet: {{server_subnet}}
          ip_range: {{server_ip_range}}
          gateway: {{server_gateway}}
