services:
  web_server:
    image: autofunbot/tg_web_server
    environment:
      - PORT=80
      - INTERVAL=3
    networks:
      services_net:
        ipv4_address: {{web_server.ip}}
  mongo_server:
    image: mongo
    networks:
      services_net:
        ipv4_address: {{mongo_server.ip}}
  wp_server:
    image: wordpress
    networks:
      services_net:
        ipv4_address: {{wp_server.ip}}
  ftp_server:
    image: 'delfer/alpine-ftp-server'
    environment:
      - USERS=lab|Juniper123
    networks:
      services_net:
        ipv4_address: {{ftp_server.ip}}
  mqtt_server:
    image: eclipse-mosquitto
    volumes:
      - mqtt_server/mosquitto.conf:/mosquitto/config/mosquitto.conf
    networks:
      services_net:
        ipv4_address: {{mqtt_server.ip}}
  web_client:
    image: autofunbot/tg_web_client
    environment:
      - TARGETS={{web_client.targets}}
      - INTERVAL=5
  mongo_client:
    image: autofunbot/tg_mongo_client
    environment:
      - TARGETS={{mongo_client.targets}}
      - INTERVAL=4
  ftp_client:
    image: autofunbot/tg_ftp_client
    environment:
      - TARGETS={{ftp_client.targets}}
      - INTERVAL=10
  wp_client:
    image: autofunbot/tg_wp_client
    environment:
      - TARGETS={{wp_client.targets}}
      - INTERVAL=10
  yt_client:
    image: autofunbot/tg_yt_client
    environment:
      - TARGETS={{yt_client.targets}}
      - INTERVAL=30
  mqtt_client:
    image: autofunbot/tg_mqtt_client
    environment:
      - TARGETS={{mqtt_client.targets}}
      - INTERVAL=1
networks:
  services_net:
    name: services_net
    driver: ipvlan
    driver_opts:
      parent: {{interface}}
      ipvlan_mode: l2
    ipam:
      config:
        - subnet: {{server_subnet}}
          ip_range: {{server_ip_range}}
          gateway: {{server_gateway}}
