terraform {
  required_providers {
    lxd = {
      source = "terraform-lxd/lxd"
    }
  }
}

provider "lxd" {
    generate_client_certificates = true
    accept_remote_certificate = true  

    remote {
        name = "lxd_host_1"
        scheme = "https"
        address = "{{lxd_host}}"
        port = "8443"
        password = "{{lxd_password}}"
        default = true
    }
}

{% for wifi in wifis -%}
resource "lxd_network" "wifi{{loop.index}}" {
    name = "wifi{{loop.index}}"
    remote = "lxd_host_1"
    type = "physical"
    config = {
        "parent" = "{{wifi.dev_name}}",
    }
}

resource "lxd_instance" "wifi_client_{{loop.index}}" {
    name = "wifi-client-{{loop.index}}"
    image = "kali-wifi"
    type = "container"
    remote = "lxd_host_1"
    running = true

    device  {
        name = "wifi{{loop.index}}"
        type = "nic"
        properties = {
            "network" = "wifi{{loop.index}}"
        }
    }

    device {
        name = "rfkill"
        type = "unix-char"
        properties = {
            "major" = 10
            "minor" = 242
            "path" = "/dev/rfkill"
            "source" = "/dev/rfkill"
        }
    }

    config = {
        "boot.autostart" = true
        "security.privileged" = true
    }

    depends_on = [lxd_network.wifi{{loop.index}}]
}
{% endfor %}