network:
  version: 2
  wifis:
{% for w in wifis %}
    {{w.name}}:
      renderer: NetworkManager
      match:
        name: "{{w.dev_name}}"
      dhcp4: true
      dhcp6: true
      set-name: {{w.name}}
{%- endfor -%}
{#    access-points:
        "JMA":
          auth:
            key-management: "psk"
          networkmanager:
            uuid: "1f69da1d-b245-4eba-8663-0f858c4ccf36"
            name: "JMA"
            passthrough:
              wifi-security.auth-alg: "open"
              ipv6.addr-gen-mode: "default"
              ipv6.ip6-privacy: "-1"
              proxy._: "" -#}